/* переменные */
:root {
  --text-blue: #2196f3;
  --text-black: #212121;
  --text-grey: #757575;
  --text-grey-op60: rgba(255, 255, 255, 0.6);
  --text-white: #ffffff;

  --back-white: #e5e5e5;
  --back-black-light: #2f303a;
  --back-grey: #f5f4fa;
}

/* основной шрифт для всего документа и ссылок */
body,
a {
  font-family: 'Roboto', sans-serif;
  background-color: var(--back-white);
  color: var(--text-black);
}

/* переназначаем шрифт для заголовков секций через общий класс */
.logo,
.footer-logo {
  font-family: 'Raleway', sans-serif;
}

/*===========================================================*/

.logo-text,
.nav-link:hover,
.link:hover,
.nav-link:focus,
.link:focus {
  color: var(--text-blue);
}

.link {
  color: var(--text-grey);
}

.hero-title,
.hero-btn,
.footer,
.footer-logo {
  color: var(--text-white);
}

.hero,
.footer,
.footer-logo,
.footer-link {
  background-color: var(--back-black-light);
}

.footer-link {
  color: var(--text-grey-op60);
}
